<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/">
                <img src="/GotaLogo.png" alt="Logo" style="height: 60px;" />
            </a>
        </div>

        <button class="header__toggle" aria-label="Toggle menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="header__nav" [class.header__nav--active]="isMenuOpen">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Inicio</a>
                </li>
                <button mat-button>
                    Prueba
                </button>

                <li class="header__menu-item" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <a href="#" class="header__menu-link" (click)="toggleSubmenu()" [attr.aria-expanded]="isSubmenuOpen"
                        [attr.aria-haspopup]="true">
                        Categorías
                    </a>

                    <ul class="header__submenu" [class.header__submenu--visible]="isSubmenuOpen || isDesktopView">
                        <li class="header__submenu-item "><a href="#">Por medio litro</a></li>
                        <li class="header__submenu-item"><a href="#">Por litro</a></li>
                        <li class="header__submenu-item"><a href="#">Por 2,25 litros</a></li>
                    </ul>
                </li>

                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>