<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/">
                <img src="/GotaLogo.png" alt="Logo" style="height: 60px;" />
            </a>
        </div>

        <button class="header__toggle" aria-label="Toggle menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="header__nav" [class.header__nav--active]="isMenuOpen">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Inicio</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Categoriass</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>